body {
   background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
   height: 100vh;
   margin: 0;
   display: grid;
   place-items: center;
}

main {
   background-color: white;
   width: 17rem;
   min-height: 60vh;
   max-height: 600px;
   padding: 20px;
   border: none;
   border-radius: 20px;
   margin-top: 9vh;
}

.faq-sec {
   margin-top: 120px;
   font-size: 0.8rem;
   font-weight: bolder;
}

.hedding {
   text-align: center;
   margin-bottom: 15px;
}

.question {
   color: hsl(240, 6%, 50%);
   font-size: 0.8rem;
}

.answer-div {
   display: none;
   padding-right: 10px;
}

.answer {
   color: hsl(240, 6%, 50%);
   font-size: 0.6rem;
}

hr {
   border-top: 1px solid hsl(240, 5%, 91%);
}

.question::after {
   content: url(images/icon-arrow-down.svg);   
   float: right;
}


.question:hover {
   cursor: pointer;
}

.active::after {
   content: url(images/icon-arrow-down.svg);
   transform: rotate(180deg);
}

.pattern-mob {
   position: absolute;
   width: 220px;
   top: 20vh;
   right: 20vw;
}

.pic-mob {
   position: absolute;
   width: 220px;
   top: 5vh;
   right: 18vw;
}

.pattern-dec, .pic-dec, .box-pic {
   display: none;
}

@media only screen and (min-width: 800px) {
   main {
      width: 40rem;
      min-height: 60vh;
      max-height: 800px;
      padding: 20px;
      margin-top: 0;

      display: flex;
      justify-content: space-between;
   }

   .image-div {
      width: 50%;
      position: relative;
      margin: 0;
   }

   .faq-sec {
      width: 50%;
      margin-top: 0px;
      font-size: 1rem;
   }

   .hedding {
      text-align: start;
      margin-bottom: 30px;
   }

   .question {
      font-size: 0.9rem;
   }

   .answer {
      font-size: 0.7rem;
   }

   .question:hover {
      color: hsl(14, 88%, 65%);
   }

   .pattern-mob {
      width: 280px;
      top: 25vh;
      right: 9vw;
   }
   
   .pic-mob {
      width: 280px;
      top: 8vh;
      right: 9vw;
   }
   
}